
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.add {
  display: grid;
  grid-template-columns: 20px auto;
  border: 1px solid #a7ffb6;
  margin: 8px;
  padding: 8px;
  color: #0a950a;
  cursor: pointer;
}
.add div {
  align-self: center;
}
.add svg {
  fill: #0a950a;
}
.add:hover {
  border-color: green;
}
button {
  border: none;
  background: none;
  padding: 0px;
}
.Header {
  text-align: center;
}
.ListContainer {
  display: flex;
  flex-direction: column;
}

.ListItem {
  display: grid;
  grid-template-columns: 40px auto 100px 40px;
  width: 400px;
  border: 1px solid #c2c2c2;
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 0px 1px 0px #888888;
  animation: fade-in .5s ease-in;
}

.ListItem:hover {
  border-color: #5b5b5b;
}

.ListItem div {
  align-self: center;
}

.ListItem .item-icon {
  justify-self: center;
}

.ListItem .item-icon svg {
  margin-top: 4px;
  fill: #919191;
  cursor:pointer;
}

.ListItem .item-icon svg:hover {
  margin-top: 4px;
  fill: black;
}

.ListItem .close svg {
  fill: #ff8f8f;
  cursor: pointer;
}

.ListItem .close svg:hover {
  fill: #fe5b5b;
}

.ListItem .close svg:active {
  fill: #fc3737;
}

.ListItem.Completed {
  background-color: #d1f3d1;
  border-color: green;
}
.Popup {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.Popup .addNew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 250px;
  height: 200px;
}
.Popup .addNew .userName {
  height: 2em;
  padding: 4px;
  margin: 8px;
  width: 200px;
}
.Popup .addNew .datePicker {
  height: 2em;
  padding: 4px;
  margin: 8px;
  width: 200px;
}

.Popup .addNew .addItem {
  border: 1px solid #a7ffb6;
  margin: 8px;
  padding: 8px;
  width: 100px;
  color: #0a950a;
  cursor: pointer;
}

.Popup .addNew .addItem:hover {
  border-color: #41fc61;
}
.Popup .addNew .close {
  position: relative;
  top: -20px;
  right: -120px;
  color: #aaaaaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
}
.Popup .addNew .close:hover,
.Popup .addNew .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}